@model ConestogaVirtualGameStore.Web.Models.Game

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-md-12">
        <h1>@Model.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="table-image" src="~/images/games/@Model.ImageFileName" />
    </div>
    <div class="col-md-8">
        <p>@Model.Description</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Employee"))
            {
                <a asp-action="Edit" asp-route-id="@Model.RecordId">Edit</a> <br />
                <a asp-action="Delete" asp-route-id="@Model.RecordId">Delete</a><br />
            }
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Wishlist")'">Add To Wishlist</button>
        <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "Cart")'">Add To Cart</button>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
