@model IEnumerable<ConestogaVirtualGameStore.Web.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Employee"))
        {
            <a asp-action="Create">Add New Game</a>
        }
    }
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="image-column">
                <img class="list-image" src="~/images/games/@item.ImageFileName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Price.ToString("C")
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> <br />
                        <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a><br />
                    }
                }
                
                <a asp-action="Details" asp-route-id="@item.RecordId">Details</a> |
                <a asp-controller="Cart" asp-action="Buy" asp-route-id="@item.RecordId">Add To Cart</a> <br />
            </td>
        </tr>
}
    </tbody>
</table>
