@model IEnumerable<ConestogaVirtualGameStore.Web.Models.Game>

@{
    ViewData["Title"] = "Games Report";
}

<h2>Games Report</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Developer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
        </tr>
}
    </tbody>
</table>
